{% extends "base.html" %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">{{ product.title }}</h2>
        </div>
        <div id="imageCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="Product Image">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Minimum Bid:</strong> {{ product.minimum_bid }}</p>
            {% if user.user_type == 'Seller' and user == product.seller.user %}
            <a href="{% url 'product-update' product.id %}" class="btn btn-outline-primary">Edit Product</a>
            {% endif %}
            {% if user.user_type == 'Buyer' %}
            <a href="{% url 'bid-create' %}?product_id={{ product.id }}" class="btn btn-primary">
                Place Bid
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
